* {
    /*Dispensa a necessidade de calculo em futuras medições para o layout*/
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
    background: #ccc;
}

nav{
    width: 100%;
    height: 100px;
    background: #999;
}

section{
    width: 100%;
    height: 500px;
    background: fixed #95a5a6;
}

footer{
    width: 100%;
    height: 200px;
    background: scroll #1BA39C;
}